.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    min-width: 100%;
}

.main.isFormPage {
    background-color: var(--primaryColor);
}

.main > .container {
    padding: var(--paddingLg) 12px;
    flex: 1;
    width: 100%;
}

@media (hover: none) {
    .main > .container {
        padding: var(--paddingSm) 8px;
    }
}

.header {
    background-color: var(--primaryColor);
    color: var(--primaryColorInverted);
}

.header > div {
    display: flex;
    align-items: center;
    padding: var(--paddingSm) 6px;
}

.main.isFormPage .header > div {
    padding: var(--paddingMd) 6px;
}

.header > div h1 {
    margin-right: var(--paddingMd);
    white-space: nowrap;
}

.header > div aside {
    margin-left: auto;
}

.header > div aside > p > * {
    white-space: nowrap;
}

.header > div aside > p:last-child {
    display: none;
    text-align: right;
}

@media (hover: none) {
    .header > div {
        flex-wrap: wrap;
    }

    .header > div h1 {
        width: 100%;
        text-align: center;
        font-size: var(--fontSizeMd);
    }

    .header > div nav {
        padding-right: var(--paddingMd);
        flex: 1;
    }

    .header > div nav button {
        width: 100%;
        text-align: left;
    }

    .header > div aside > p:first-child {
        display: none;
    }

    .header > div aside > p:last-child {
        display: block;
    }
}

.header > nav {
    background-color: var(--primaryColorDark);
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 10%) inset;
    padding-top: 10px;
}

.container {
    padding: 0 6px;
    margin: 0 auto;
    max-width: 980px;
    min-width: 300px;
}

.footer {
    padding: var(--paddingLg) 0;
    margin-top: auto;
    font-size: var(--fontSizeSm);
    color: var(--fontColorAlt);
}

@media (hover: none) {
    .footer {
        padding: var(--paddingSm) 0;
    }
}

.footer .container {
    display: flex;
}

.footer .container p:last-child {
    margin-left: auto;
}

.main.isFormPage .footer {
    color: var(--primaryColorInverted);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

@media print {
    @page {
        size: landscape
    }

    .header,
    .footer {
        display: none;
    }

    .container {
        min-width: 0;
        max-width: 100%;
        width: 100%;
        padding: 0;
    }
}
